footer {
  background-color: #1d1f24;
  color: white;
  padding: 45px 20px;
  display: flex;
  flex-direction: column;
  a {
    color: white;
  }
}
.footer-logo-container {
  margin-bottom: 23px;
  h1 {
    font-size: 24px;
    font-family: "Lato";
    color: rgba(249, 250, 252, 0.2);
    font-weight: bold;
    text-align: left;
  }
  p {
    padding-top: 12px;
    line-height: 24px;
    font-size: 14px;
    font-family: "Lato";
    color: rgba(255, 255, 255, 0.698);
    line-height: 1.286;
    text-align: left;
  }
  span {
    background-color: rgb(255, 86, 92);
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-left: -4px;
  }
}
.footer-links {
  -webkit-column-count: 2;
  column-count: 2;
  a {
    display: block;
    margin-bottom: 30px;
    font-size: 14px;
    font-family: "Oswald";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
  }
}
.inputs {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 23px;
}
.follow-us {
  margin-top: 20px;
  font-size: 14px;
  font-family: "Lato";
  color: rgba(255, 255, 255, 0.698);
  line-height: 1.571;
  svg {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.input-text {
  width: 180px;
  font-family: "Lato";
  color: rgba(29, 31, 36, 0.4);
  height: 35px;
  outline: none;
  line-height: 24px;
  padding-left: 10px;
}

.input-button {
  width: 120px;
  margin-left: -6px;
  border: none;
  height: 35px;
  margin-top: 1px;
  background-color: #ff565c;
  color: white;
}

/*** MEDIA QUERIES ***/

@media screen and (max-width: 400px) {
  .input-text {
    width: 150px;
    height: 35px;
    outline: none;
    line-height: 24px;
    padding-left: 10px;
  }
  .input-button {
    width: 90px;
    margin-left: -6px;
    font-size: 11px;
    border: none;
    height: 35px;
    padding-top: 1px;
    background-color: #ff565c;
    color: white;
  }
}

@media screen and (min-width: 768px) {
  footer {
    column-count: 4;
    -webkit-column-count: 4;
  }
  .footer-links {
    -webkit-column-count: 4;
    column-count: 4;
  }
  .footer-logo-container {
    margin-right: 96px;
  }
  .container-two {
    display: flex;
  }
  .inputs {
    display: flex;
    flex-direction: row;
  }
  .follow-us {
    margin-left: 40px;
    order: 2;
    margin-top: 6px;
  }
}

@media screen and (min-width: 1024px) {
  footer {
    flex-direction: row;
    width: 100%;
  }
  .footer-links {
    -webkit-column-count: 4;
    column-count: 4;
    flex: 1;
  }
  .footer-logo-container {
    margin-right: 90px;
  }
  .container-two {
    display: flex;
    width: 120%;
    flex-direction: row;
  }
  .inputs {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column-reverse;
    flex: 1;
    margin-top: 4px;
  }
  .follow-us {
    margin-left: 40px;
    order: 2;
  }
}

@media screen and (min-width: 1300px) {
  footer {
    flex-direction: row;
    width: 100%;
    padding: 45px 38px;
  }
  .footer-links {
    -webkit-column-count: 4;
    column-count: 4;
    flex: 1;
  }
  .footer-logo-container {
    margin-right: 140px;
  }
  .container-two {
    display: flex;
    width: 160%;
    flex-direction: row;
  }
  .inputs {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column-reverse;
    flex: 1;
  }
  .follow-us {
    margin-left: 40px;
    order: 2;
    margin-bottom: 16px;
  }
}
